body{
    background-color: #02263C;
    overflow-x: hidden;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}
.absolute {
    width: 100%; 
    height: 100%; 
    position: absolute;
}
.rectangle1 {
    background-color: #02263c47;
    filter: brightness(.9);
    width: 35%; 
    height: 80%; 
    z-index: 1;
    border-radius: 20px;
    margin-top: -5%;
}
.rectangle2 {
    background-color: #02263c2a;
    filter: brightness(.8);
    width: 30%; 
    height: 85%; 
    z-index: 2;
    border-radius: 20px;
    margin-top: -5%;
}
.rectangle3 {
    background-color: #02263C;
    filter: brightness(1.2);
    width: 25%; 
    height: 90%; 
    z-index: 3;
    border-radius: 20px;
    margin-top: -3%;
}
.image-container{
    display: flex;
    justify-content: center;
}
.image-container img{
    width: 85%;
    margin-top: 7%;
    border-radius: 10px;
    transition: ease-in .3s;
}
.tittle{
    color: white;
    padding-left: 8%;
    padding-top: 6%;
    font-size: 140%;
    font-weight: bold;
    font-family: monospace;
    letter-spacing: .5px;
    transition: ease-in .3s;
}
.text{
    color: white;
    padding-left: 8%;
    padding-top: 6%;
    font-size: 110%;
    padding-right: 5%;
    line-height: 130%;
    opacity: .5;
    letter-spacing: .5px;
    font-family: monospace;
}
.row-1-container{
    display: flex;
    padding-left: 8%;
    margin-top: 8%;
}
.currency-icon{
    padding-right: 3%;
}
.currency-text{
    color: aqua;
    font-family: monospace;
    margin-top: 1%;
    font-weight: bold;
    letter-spacing: 1px;
}
.time-icon{
    padding-left: 25%;
}
.time-text{
    color: white;
    opacity: .5;
    font-size: 90%;
    padding-left: 2%;
    margin-top: .5%;
    font-weight: bold;
    font-family: monospace;
}
.line{
    opacity: .1;
    width: 80%;
    margin-top: 6%;
    margin-bottom: 5%;
}
.row-2-container{
    display: flex;
}
.profile-image img{
    width: 20%;
    border-radius: 100px;
    border: solid 5px rgb(255, 255, 255);
    margin-top: -.5%;
    transition: ease-in .3s;
}
.profile-image{
    width: 65%;
    border-radius: 100px;
    padding-left: 10%;
}
.row-2-text{
    margin-left: -43%;
    font-family: monospace;
    color: white;
    opacity: .6;
    margin-right: 2.5%;
    margin-top: 5%;
    letter-spacing: .5px;
}
.row-2-hyperlink{
    color: white;
    font-family: monospace;
    margin-top: 5%;
    letter-spacing: .5px;
    font-weight: bold;
    transition: ease-in .3s;
}
.image-container img:hover{
    scale: 1.05;
    filter: saturate(2);
    cursor: pointer;
}
.tittle:hover{
    color: aqua;
    text-shadow: 0px 0px 1.5px aqua;
    cursor: pointer;
    scale: 1.02;
}
.row-2-hyperlink:hover{
    color: aqua;
    text-shadow: 0px 0px 1.5px aqua;
    cursor: pointer;
    scale: 1.02;
}
.profile-image img:hover{
    border-color: aqua;
    cursor: pointer;
    scale: 1.05;
}
